.hero {
  height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://i.pinimg.com/1200x/f4/b4/68/f4b468c720a97521602be6095de1abec.jpg") 
    center/cover no-repeat;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  padding: 10px;
  text-align: center;
}

.form-group {
  background-color: transparent;
  width: 500px;
  height: 330px;
  padding: 20px;
  margin: auto;
  border: 3px solid white;
  text-align: center;
}

label {
  font-family: 'Cinzel', sans-serif;
  font-size: 20px;
  color: white;
}

.form-container {
  font-family: 'Cinzel', sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  color: #e7c037;
  margin-bottom: 20px;
}

.form {
  padding: 30px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

#registration {
  color: white;
  text-decoration: none; /* removes underline for link */
}

#registration:hover {
  color: #e7c037; /* optional: highlight on hover */
}
