.hero {
   height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9)
    ),
    url("https://i.pinimg.com/1200x/f4/b4/68/f4b468c720a97521602be6095de1abec.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.form-group {
  background-color: white;
  width: 500px;
  padding: 10px;
  border: 3px solid white;
  height: 550px;

  margin: auto;         
  margin-top: 50px;    
  text-align: center;
}
label{
    font-family: 'Cinzel', sans-serif;
  font-size: 20px;
  color: black;
}
.form-container {
  font-family: 'Cinzel', sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  color: #7a6621;
  text-align: center;
  margin-top: 5px;
}

.form {
  padding: 30px;
  background-color: white;
  border: 3px solid black;
  margin-top: 10px;
}
